.wrappar
  = render "shared/header"
  = render "bread"
  .contents
    .contents__mypage
      = render "mypage_list"
      .contents__mypage__right
        .contents__mypage__right__image
          .contents__mypage__right__image__member
            %img{src:"member_photo_noimage_thumb.png", size: "100*100", class: "member-icon" }
            .member-name
              =current_user.nickname
        .contents__mypage__right__buy
          .tab-head
            出品した商品
          .contents__mypage__right__buy__box
            .product
              - @items.each do |item|
                =link_to item_path(item.id) do
                  .product__image
                    %img{src: item.images.first.image.url ,width:"220px",height:"150px"}
                  .product__content
                    .product__content__name
                      =item.name
                    %ul.price
                      =item.price
                      円
                      %li
                        %i.fa.fa-star.likeIcon 7
                    %p.tax_in (税込)

  = render "shared/banner"
  = render "shared/footer"
  = render "shared/exhibition"
