.wrappar
  = render "shared/header"
  = render "bread"
  .contents
    .contents__main
      = render "mypage_list"
      .contents__main__right
        .contents__main__right__image
          .contents__main__right__image__member
            %img{src:"member_photo_noimage_thumb.png", size: "100*100", class: "member-icon" }
            .member-name
              ユーザー名
        .contents__main__right__buy
          .tab-head
            購入した商品
          .contents__main__right__buy__box
            .product
              =link_to "#" do
                .product__image
                  %img{src:'umaibo1.jpeg',width:"220px",height:"150px"}
                .product__content
                  .product__content__name
                    うまい棒
                  %ul.price
                    %li 20000円
                    %li
                      %i.fa.fa-star.likeIcon 7
                  %p.tax_in (税込)
            .product
              =link_to "#" do
                .product__image
                  %img{src:'umaibo1.jpeg',width:"220px",height:"150px"}
                .product__content
                  .product__content__name
                    うまい棒
                  %ul.price
                    %li 20000円
                    %li
                      %i.fa.fa-star.likeIcon 7
                  %p.tax_in (税込)

  = render "shared/banner"
  = render "shared/footer"
  = render "shared/exhibition"
