.single-container
  .single-header
    %h1
      .single-container__header-icon
        = link_to "#" do
          .single-container__header-icon-image
            = image_tag 'logo.png', size: '300x60'

  // 配送先の入力フォーム

  .single-main
    .l-single-container
      %h2.shipping-head
        配送先入力
      = form_for(resource, as: resource_name, url: "#", html: {id: "new_user_form",class: 'shipping-inner'}) do |f|
        .shipping-content
          .form-group
            = f.label :郵便番号
            %span.form-require 必須
            = f.text_field :zipcode, autofocus: true, placeholder: "例) 0001111",required: "required", class: 'input-default'
          .form-group
            = f.label :都道府県
            %span.form-require 必須
            = f.text_field :city, autofocus: true, placeholder: "例）神奈川県",required: "required", class: "input-default"
          .form-group
            = f.label :市区町村
            %span.form-require 必須
            = f.text_field :town, autofocus: true, placeholder: "例）横浜市緑区",required: "required", class: "input-default"
          .form-group
            = f.label :番地
            %span.form-require 必須
            = f.text_field :house_number, autofocus: true, placeholder: "例）青山 1-1-1",required: "required", class: "input-default"
          .form-group
            = f.label :建物名（任意）
            = f.text_field :building, autofocus: true, placeholder: "例）柳ビル 103",required: "required", class: "input-default"
          .form-group
            = f.label :電話番号（任意）
            = f.text_field :phonenumber, autofocus: true, placeholder: "例）09012345678",required: "required", class: "input-default"
        .shipping-content
          .form-group
            = f.submit "登録する", class: "btn"
          .form-group

    .single-footer
      .navigation
        %ul.clearfix
          %li 
            = link_to "#" do
              プライバシーポリシー
          %li 
            = link_to "#" do
              フリマ利用規約
          %li 
            = link_to "#" do
              特定商取引に関する表記
        = link_to "#" do
          = image_tag 'logo.png', size: '300x60', class: "footer-logo"
    
