.wrapper
  = render "shared/header"
  .search-contents
    .search-contents__main
      .search-contents__main__left
        .detail_search
          = search_form_for(@q,url: detail_searches_path) do |f|
            .detail_search_sort
              = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { onchange: 'this.form.submit()'} )
            .detail_search_form
              .detail_search__title
                %h3 詳細検索
              .detail_search-keyword
                .detail_search-label-keyword
                  キーワードを追加する
                  = f.search_field :name_cont, value: @search, placeholder: "例）値下げ", class: "keyword-form"                 
              .detail_search__group-price
                .detail_search__group--label                    
                  %p 価格
                .detail_search-price
                  = f.search_field :price_gteq, placeholder: "¥ Min", class: "price-minmax"
                  .price-range ~
                  = f.search_field :price_lteq, placeholder: "¥ Max", class: "price-minmax"
              .detail_search__group
                .detail_search__group--label                 
                  %p 商品の状態
                .detail_search-checkbox
                  = f.collection_check_boxes :status_in, ItemStatus.all, :id, :name
              .detail_search__btn--grey
                = f.button "リセット", type: :reset, id:"clear-button"
                = f.submit "完了", class: "detail-search-button"
      .search-contents__main__right
        .items-box-container
          -if @result_items.length == 0
            %h2.search-result-nil
              新着商品
            .items-box-content
              該当する商品が見つかりません。検索条件を変えて、再度お試しください。
          -else  
            %h2.search-result-head
              =@search
              %span.search-result-head-text
                の検索結果
                .search-result-number
                  ="1-#{@result_items.count}件表示"
            .search-result-content
              - @result_items.each do |result_item|
                .product
                  =link_to "#" do
                    .product__image
                      = image_tag result_item.images.first.image.url, class: "figure"
                    .product__content
                      .product__content__name
                        = result_item.name
                      %ul.price
                        %li 
                        ￥
                        = result_item.price
                        (税込)
                      %li
                        %i.fa.fa-star.likeIcon 7
                      %li.tax_in 

        
          

  = render "shared/banner"
  = render "shared/footer"
  = render "shared/exhibition"              
