.detailPage
  = render "shared/header"

  .showMain
    .DPcontent
      .upperBox
        .itemBuy
          %p.itemBuy__title
            = @item.name 
            .itemBuy__imageBody
              %ul.showImageBox
                %li.showImages
                  = image_tag(@item.images.first.image.url, class: "showBigImage")
                  %ul.showSmallImageBox
                    %li.showSmallImages
                      - @images.each do |image|
                        = image_tag(image.image.url, class: "showSmallImage")
            .showTable-box
              %table.showTable
                %tbody.showTbody
                  %tr.showTr
                    %th.showTh
                      出品者
                    %td.showTd
                      =@item.seller.nickname
                  %tr.showTr
                    %th.showTh
                      カテゴリー
                    %td.showTd
                      = link_to @item.category.root.name, "#", class: "showTransition"
                      %br= link_to @item.category.parent.name, "#", class: "showTransition"
                      = link_to @item.category.name, "#", class: "showTransition"
                  %tr.showTr
                    %th.showTh
                      ブランド
                    %td.showTd
                      =@status.name
                  %tr.showTr
                    %th.showTh
                      商品のサイズ
                    %td.showTd
                  %tr.showTr
                    %th.showTh
                      商品の状態
                    %td.showTd
                      =@status.name
                  %tr.showTr
                    %th.showTh
                      配送料の負担
                    %td.showTd
                      =@fee.name
                  %tr.showTr
                    %th.showTh
                      発送元の地域
                    %td.showTd
                      = link_to @region.name, "#", class: "showTransition"
                  %tr.showTr
                    %th.showTh
                      発送日の目安
                    %td.showTd
                      = @delivery.name
            .itemBuy__priceBox
              .showPrice
                ¥
                =@item.price
              .itemBuy__tax
                (税込)送料込み
          -if @item.seller.id == current_user.id
            = link_to "編集",edit_item_path(@item.id), class: "btn itemBuyBtn"
            = link_to '削除',item_path(@item.id),method: :delete, class: "btn itemBuyBtn--gray",data: { confirm: "削除してよろしいですか？", commit: "削除する", cancel: "やめる"}
          -else
            = link_to "購入画面に進む","#" , class: "btn itemBuyBtn"
            .showDescription
              .describeShow
              =@item.body
            .detailBottomBtn
              .favoriteBox
                .btn.favorite-btn
                  %i.fa.fa-star
                  お気に入り 0
              .report-box
                = link_to "#", class: "btn report-btn" do
                  %i.fa.fa-flag
                  不適切な商品の通報

        .commentBox
          %form.comment
            %p.importantPoints
              相手のことを考え丁寧なコメントを心がけましょう。
              %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。    
            %textarea{class: "submitText"}
            %button.btn.submitBtn
              %i.fa.fa-comment
                コメントする

      .linksBottom
        .back-box
          = link_to "前の商品", "#", class: "showTransition"
          
        .next-box
          = link_to "次の商品", "#", class: "showTransition"
      
      .moreSearch
        = link_to "カテゴリ1をもっと見る", "#", class: "searchCategory1"
  
  = render "shared/banner"
  = render "shared/footer"
  = render "shared/exhibition" 
